<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [58]:
# Ваш код здесь
df_gender1 = df[df['gender'] == 1];
df_gender2 = df[df['gender'] == 2];
print(df_gender1.describe())
print(df_gender2.describe())
print(df_gender1['height'].median())
print(df_gender2['height'].median())
women=df_gender1;
men=df_gender2;
print(women.describe())
print(men.describe())

print(df.pivot_table(['height'], ['gender'], aggfunc='mean'))
print(df['gender'].value_counts())

                age   gender        height        weight         ap_hi  \
count  45530.000000  45530.0  45530.000000  45530.000000  45530.000000
mean   19510.124577      1.0    161.355612     72.565605    128.139249
std     2432.024493      0.0      7.052726     14.238838    158.054522
min    10859.000000      1.0     55.000000     21.000000   -140.000000
25%    18040.000000      1.0    157.000000     63.000000    120.000000
50%    19726.000000      1.0    161.000000     70.000000    120.000000
75%    21330.000000      1.0    166.000000     80.000000    140.000000
max    23701.000000      1.0    250.000000    200.000000  16020.000000

              ap_lo   cholesterol          gluc         smoke          alco  \
count  45530.000000  45530.000000  45530.000000  45530.000000  45530.000000
mean      94.522776      1.384735      1.235054      0.017856      0.025500
std      174.776855      0.693417      0.582956      0.132431      0.157639
min      -70.000000      1.000000      1.000000      0.000000      0.000000
25%       80.000000      1.000000      1.000000      0.000000      0.000000
50%       80.000000      1.000000      1.000000      0.000000      0.000000
75%       90.000000      2.000000      1.000000      0.000000      0.000000
max    11000.000000      3.000000      3.000000      1.000000      1.000000

             active        cardio     age_years           BMI
count  45530.000000  45530.000000  45530.000000  45530.000000
mean       0.802021      0.496727     52.954338     27.987583
std        0.398481      0.499995      6.670351      6.495638
min        0.000000      0.000000     29.000000      8.001829
25%        1.000000      0.000000     49.000000     23.875115
50%        1.000000      0.000000     54.000000     26.709402
75%        1.000000      1.000000     58.000000     31.044558
max        1.000000      1.000000     64.000000    298.666667
                age   gender        height        weight         ap_hi  \
count  24470.000000  24470.0  24470.000000  24470.000000  24470.000000
mean   19392.097875      2.0    169.947895     77.257307    130.078872
std     2529.752770      0.0      7.228895     14.187636    146.186152
min    10798.000000      2.0     65.000000     10.000000   -150.000000
25%    17502.000000      2.0    165.000000     68.000000    120.000000
50%    19655.500000      2.0    170.000000     75.000000    120.000000
75%    21321.000000      2.0    175.000000     85.000000    140.000000
max    23713.000000      2.0    207.000000    200.000000  14020.000000

              ap_lo   cholesterol          gluc         smoke          alco  \
count  24470.000000  24470.000000  24470.000000  24470.000000  24470.000000
mean     100.551982      1.333633      1.210462      0.218880      0.106375
std      211.557292      0.653764      0.551493      0.413496      0.308323
min        0.000000      1.000000      1.000000      0.000000      0.000000
25%       80.000000      1.000000      1.000000      0.000000      0.000000
50%       80.000000      1.000000      1.000000      0.000000      0.000000
75%       90.000000      1.000000      1.000000      0.000000      0.000000
max    10000.000000      3.000000      3.000000      1.000000      1.000000

             active        cardio     age_years           BMI
count  24470.000000  24470.000000  24470.000000  24470.000000
mean       0.806906      0.505231     52.629179     26.754442
std        0.394734      0.499983      6.937803      5.162752
min        0.000000      0.000000     29.000000      3.471784
25%        1.000000      0.000000     47.000000     23.781213
50%        1.000000      1.000000     53.000000     25.910684
75%        1.000000      1.000000     58.000000     29.043709
max        1.000000      1.000000     64.000000    180.678074
161.0
170.0
                age   gender        height        weight         ap_hi  \
count  45530.000000  45530.0  45530.000000  45530.000000  45530.000000
mean   19510.124577      1.0    161.355612     72.565605    128.139249
std     2432.024493      0.0      7.052726     14.238838    158.054522
min    10859.000000      1.0     55.000000     21.000000   -140.000000
25%    18040.000000      1.0    157.000000     63.000000    120.000000
50%    19726.000000      1.0    161.000000     70.000000    120.000000
75%    21330.000000      1.0    166.000000     80.000000    140.000000
max    23701.000000      1.0    250.000000    200.000000  16020.000000

              ap_lo   cholesterol          gluc         smoke          alco  \
count  45530.000000  45530.000000  45530.000000  45530.000000  45530.000000
mean      94.522776      1.384735      1.235054      0.017856      0.025500
std      174.776855      0.693417      0.582956      0.132431      0.157639
min      -70.000000      1.000000      1.000000      0.000000      0.000000
25%       80.000000      1.000000      1.000000      0.000000      0.000000
50%       80.000000      1.000000      1.000000      0.000000      0.000000
75%       90.000000      2.000000      1.000000      0.000000      0.000000
max    11000.000000      3.000000      3.000000      1.000000      1.000000

             active        cardio     age_years           BMI
count  45530.000000  45530.000000  45530.000000  45530.000000
mean       0.802021      0.496727     52.954338     27.987583
std        0.398481      0.499995      6.670351      6.495638
min        0.000000      0.000000     29.000000      8.001829
25%        1.000000      0.000000     49.000000     23.875115
50%        1.000000      0.000000     54.000000     26.709402
75%        1.000000      1.000000     58.000000     31.044558
max        1.000000      1.000000     64.000000    298.666667
                age   gender        height        weight         ap_hi  \
count  24470.000000  24470.0  24470.000000  24470.000000  24470.000000
mean   19392.097875      2.0    169.947895     77.257307    130.078872
std     2529.752770      0.0      7.228895     14.187636    146.186152
min    10798.000000      2.0     65.000000     10.000000   -150.000000
25%    17502.000000      2.0    165.000000     68.000000    120.000000
50%    19655.500000      2.0    170.000000     75.000000    120.000000
75%    21321.000000      2.0    175.000000     85.000000    140.000000
max    23713.000000      2.0    207.000000    200.000000  14020.000000

              ap_lo   cholesterol          gluc         smoke          alco  \
count  24470.000000  24470.000000  24470.000000  24470.000000  24470.000000
mean     100.551982      1.333633      1.210462      0.218880      0.106375
std      211.557292      0.653764      0.551493      0.413496      0.308323
min        0.000000      1.000000      1.000000      0.000000      0.000000
25%       80.000000      1.000000      1.000000      0.000000      0.000000
50%       80.000000      1.000000      1.000000      0.000000      0.000000
75%       90.000000      1.000000      1.000000      0.000000      0.000000
max    10000.000000      3.000000      3.000000      1.000000      1.000000

             active        cardio     age_years           BMI
count  24470.000000  24470.000000  24470.000000  24470.000000
mean       0.806906      0.505231     52.629179     26.754442
std        0.394734      0.499983      6.937803      5.162752
min        0.000000      0.000000     29.000000      3.471784
25%        1.000000      0.000000     47.000000     23.781213
50%        1.000000      1.000000     53.000000     25.910684
75%        1.000000      1.000000     58.000000     29.043709
max        1.000000      1.000000     64.000000    180.678074
            height
gender
1       161.355612
2       169.947895
1    45530
2    24470
Name: gender, dtype: int64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [62]:
# Ваш код здесь
print(women.head())
print(men.head())
print('groupby')
print(women.groupby(['alco'])[['alco']].describe())
print(men.groupby(['alco'])[['alco']].describe())

print('formula')
print(women[women['alco'] == 1].count()[0] / women.count()[0])
print(  men[  men['alco'] == 1].count()[0] /   men.count()[0])
print('crosstab')
print(pd.crosstab(df['gender'], df['alco']))
print('pivot table')
df.pivot_table(['alco'], ['gender'], aggfunc='mean')

      age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
id
1   20228       1     156    85.0    140     90            3     1      0
2   18857       1     165    64.0    130     70            3     1      0
4   17474       1     156    56.0    100     60            1     1      0
8   21914       1     151    67.0    120     80            2     2      0
9   22113       1     157    93.0    130     80            3     1      0

    alco  active  cardio  age_years        BMI
id
1      0       1       1         55  34.927679
2      0       0       1         51  23.507805
4      0       0       0         47  23.011177
8      0       0       0         60  29.384676
9      0       1       0         60  37.729725
      age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
id
0   18393       2     168    62.0    110     80            1     1      0
3   17623       2     169    82.0    150    100            1     1      0
12  22584       2     178    95.0    130     90            3     3      0
16  18815       2     173    60.0    120     80            1     1      0
18  14791       2     165    60.0    120     80            1     1      0

    alco  active  cardio  age_years        BMI
id
0      0       1       0         50  21.967120
3      0       1       1         48  28.710479
12     0       1       1         61  29.983588
16     0       1       0         51  20.047446
18     0       0       0         40  22.038567
groupby
         alco
        count mean  std  min  25%  50%  75%  max
alco
0     44369.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      1161.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
         alco
        count mean  std  min  25%  50%  75%  max
alco
0     21867.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      2603.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
formula
0.0254996705469
0.106375153249
crosstab
alco        0     1
gender
1       44369  1161
2       21867  2603
pivot table

            alco
gender
1       0.025500
2       0.106375

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [63]:
# Ваш код здесь
women_smoke_perc=women['smoke'].mean()
men_smoke_perc=men['smoke'].mean()
    
print(round(men_smoke_perc / women_smoke_perc))

pd.crosstab(df['gender'], df['smoke'])

12

smoke       0     1
gender
1       44717   813
2       19114  5356

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [37]:
# Ваш код здесь
smoke=df[df['smoke'] == 1]
not_smoke=df[df['smoke'] == 0]

print(smoke['age'].median())
print(not_smoke['age'].median())
print(abs(smoke['age'].median() - not_smoke['age'].median()) / 30)

19125.0
19722.0
19.9

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет: первая с верхним артериальным давлением меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [44]:
# Ваш код здесь
df['age_years'] = df['age'].map(lambda x: x // 365)
df['age_years'].head()

age_60_64 = df[(df['age_years'] >= 60) & (df['age_years'] <= 64)]
smoke_men_at_age_60_64 = age_60_64[(age_60_64['gender'] == 2) & (age_60_64['smoke'] == 1)]

upper_right_df = smoke_men_at_age_60_64[(smoke_men_at_age_60_64['cholesterol'] == 3) & (smoke_men_at_age_60_64['ap_hi'] >= 160) & (smoke_men_at_age_60_64['ap_hi'] < 180)]
lower_left_df = smoke_men_at_age_60_64[(smoke_men_at_age_60_64['cholesterol'] == 1) & (smoke_men_at_age_60_64['ap_hi'] < 120)]
upper_right_cardio_prob = len(upper_right_df[upper_right_df['cardio'] == 1]) / len(upper_right_df)
lower_left_cardio_prob = len(lower_left_df[lower_left_df['cardio'] == 1]) / len(lower_left_df)
upper_right_cardio_prob / lower_left_cardio_prob

3.36

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [76]:
# Ваш код здесь
df['BMI'] = df['weight'] / df['height'].map(lambda x: x * x / 10000)
df['BMI'].head()

# Q1
bmi_median=df['BMI'].median()
print(bmi_median)
print('Q1=', bmi_median >= 18 and bmi_median <= 25)
# Q2
women_bmi_mean = df[df['gender'] == 1]['BMI'].mean() 
men_bmi_mean = df[df['gender'] == 2]['BMI'].mean()
print(women_bmi_mean, men_bmi_mean)
print('Q2=', women_bmi_mean > men_bmi_mean)
# Q3
healthy_bmi = df[df['cardio'] == 0]['BMI'].mean()
ill_bmi = df[df['cardio'] == 1]['BMI'].mean()
print(healthy_bmi, ill_bmi)
print('Q3=', healthy_bmi > ill_bmi)
# Q4
healty_and_not_alco = df[(df['cardio'] == 0) & (df['alco'] == 0)]
healty_and_not_alco_men_bmi = healty_and_not_alco[(healty_and_not_alco['gender'] == 2)]['BMI'].mean() 
healty_and_not_alco_women_bmi = healty_and_not_alco[(healty_and_not_alco['gender'] == 1)]['BMI'].mean()
print('Q4=', healty_and_not_alco_men_bmi, healty_and_not_alco_women_bmi)

26.374068120774975
Q1= False
27.98758344183312 26.75444235728947
Q2= True
26.54817520679475 28.566060627015435
Q3= False
Q4= 25.872638075460173 26.845406594131518

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [56]:
# Ваш код здесь
valid_pressure = df[df['ap_lo'] <= df['ap_hi']]
print(len(valid_pressure))

valid_pressure_height = valid_pressure[(valid_pressure['height'] >= valid_pressure['height'].quantile(q=0.025)) & (valid_pressure['height'] <= valid_pressure['height'].quantile(q=0.975))]
print(len(valid_pressure_height))

valid_pressure_height_weight = valid_pressure_height[(valid_pressure_height['weight'] >= valid_pressure_height['weight'].quantile(q=0.025)) & (valid_pressure_height['weight'] <= valid_pressure_height['weight'].quantile(q=0.975))]
print(len(valid_pressure_height_weight))

print(round((1 - len(valid_pressure_height_weight) / len(df)) * 100))

68766
65859
62784
10